$primary-color: #6a11cb;
$secondary-color: #2575fc;
$hover-color: #4a54e1;
$focus-color: #2575fc;
$input-border-color: #ccc;
$button-background-color: #5c67f2;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
